<div class="container">
      <div class="jumbotron">
        <h1>Guarderia MX</h1>
        <p class="lead">Guarderia MX es un software de gestión de cuidado infantil basado en la web para administrar instalaciones de educación temprana, como establecimientos preescolares, guarderías y jardines de infancia. </p>
        <p><%= link_to "Registrarse", new_user_registration_path, class: "btn btn-lg btn-success" %></p>
      </div>
</div>