<div class="container">
  <div class='row'>
    <H1> Sistema de Guarderia </H1>
  </div>
  <div class='row'>
    <div class="card mt-4">
        <img class="card-img-top" src="https://bandai.com.mx/blog/wp-content/uploads/2020/01/Kindi-Kids-First-Date-of-kinder-1024x576.jpg" height="400px" width="900px" alt="Card image cap">
    </div>
  </div>
<div>